[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torch = {file = "https://download.pytorch.org/whl/cu100/torch-1.2.0-cp36-cp36m-manylinux1_x86_64.whl"}
numpy = "*"
pillow = "*"
matplotlib = "*"
scipy = "*"
motmetrics = "*"

[requires]
python_version = "3.6"
